.form {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  outline: none;

  &:hover {
    border-color: #000;
  }

  &:focus {
    border-color: #4e75ff;
  }
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  outline: none;
  border: transparent;
  background-color: #4e75ff;
  color: #fff;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  &:hover {
    background-color: #6c8cff;
  }
}
