.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.card {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;

  &:hover {
    border-color: #000;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

.card-image {
  height: 152px;
  width: 100%;
  object-fit: cover;
}

.card-content {
  text-align: center;
  padding: 4px 20px;
}

.card-stats {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  list-style: none;

  color: #2e2f42;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.stat-label {
  font-weight: 600;
  line-height: 1.33;
}

.stat-number {
  line-height: 2;
}
