/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('loaders.css/loaders.min.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./form.css');
@import url('./gallery.css');
@import url('./loader.css');
@import url('./iziToast.css');
